

.diskete{
  width: 500px;
  height: 500px;
  background: linear-gradient(45deg, #393838 98%, transparent 2%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.diskete-top-container{
  width: 500px;
  height: 150px;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.diskete-bottom-container{
  width: 500px;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.gap{
  width: 290px;
  height: 150px;
  background: linear-gradient(360deg, #303030, #393838);
  border-style: solid;
  border-color: rgb(0, 0, 0, 0.20);
  border-width: 2px;
  border-top: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 60px;
  display: flex;
  flex-direction: row-reverse;
}
.metal{
  width: 220px;
  height: 150px;
  background: linear-gradient(360deg, #c2c4c6 50%, #f3f0f0);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  border-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  transform: translate(1px ,0px);
  
}

.hole{
  width: 50px;
  height: 100px;
  border-radius: 3px;
  background-color: #303030;
  position: relative;
  left: -40px;
  top: -20px;
  box-shadow: 0 0 1px;
}



.leftpad-container{
  width: 70px;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: end;
}

.label{
  width: 350px;
  border: 7px solid #232222;
  
  border-radius: 7px 7px 0px 0px;
  border-bottom: transparent;
  background: linear-gradient(300deg, #c6c4c4, #ffffff) ;
  display: block;
  justify-content: center;
  align-content: end;

}

.label p{
  display: flex;
  justify-content: center;
  color:#b2adad
}

.label-top{
  width: 100%;
  height: 50px;
  background: radial-gradient(circle,#0a82be, #025882);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.rightpad-container{
  width: 70px;
  height: 300px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: end
}

.cuadradoIz{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: outset;
  margin-bottom: 20px;
}

.cuadradoDe{
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border-style: outset;
  margin-bottom: 20px;
}